.editorconfig
.phpunit
.git
.gitignore
.travis.yml
Dockerfile*
docker-compose.yaml
LICENSE
*.md
*.log

/.php_cs
/.php_cs.cache
/.web-server-pid
/.env.local
/.env.*.local
/data/
/local/
/var/
/vendor/
/phpunit.xml
/docker/wait-create.sh
